
<section class="p-10 md:p-16 lg:px-24 lg:py-18 flex flex-col flex-wrap bg-green-950 w-full text-white">
<h2 class="text-white text-center text-3xl mb-10">Get the best sent to your inbox, every month</h2>

<form class="flex flex-col gap-4">
    <input class="h-12 px-5 py-2 bg-white rounded text-gray-400" placeholder="Podaj swój email" type="text" name="email" id="email">
    <button class="h-12 bg-green-200 text-green-950 rounded">Subskrybuj</button>
</form>

<p class="text-center text-xs">subtekst</p>
</section>